{{page-title "TicketBookingPage"}}
<NavbarContainer></NavbarContainer>
<div class="bookingContainer">
<h1>AIRLINE BOOKING FORM</h1>
<div class="input_form">
    <h2 id="book_title">BOOKING DETAILS</h2>
    <div class="flight-input_block">
        <div class="flight_name">
            <div class="title_box">
             <h3>Flight Name</h3>
            <h3>Travel Time</h3></div>
            <div class="flight_input_box">
            <Input @type="text" @value={{this.model.flight_name}} disabled="true"/>
            <Input @type="text" @value={{this.model.time}} disabled="true"/></div>
            <div class="title_box">
             <h3>From</h3>
            <h3>To</h3></div>
            <div class="flight_input_box">
            <Input @type="text" @value={{this.model.from_city}} disabled="true"/>
            <Input @type="text" @value={{this.model.to_city}} disabled="true"/></div>
        </div>
    </div>
   <div class="passenger_input_block"> 
       {{#each this.newRecordObj as |item|}}
          {{this.addUserAndFlightData}}
          <InputTagBlock @data={{item}}  @record={{this.ticketDetails}} @flightData={{this.model}}></InputTagBlock>
       {{/each}}
           
       <Input @type='button'  @value="ADD PASSENGER" {{on 'click' this.addThePassenger}}   id="addPassenger"/>
    </div>
    <Input @type='submit'  @value="Book Now" {{on 'click' this.saveAllRecord}} id="booknow"/>
</div>
</div>
{{!-- {{this.avaiableForBooking}} --}}
{{outlet}}